@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Sans+Mono:ital,wght@0,400..700;1,400..700&display=swap");

:root {
    --primary-color: #4C5151;
    --secondary-color: #FFFFFF;
    --font-family: "Ubuntu Sans Mono";
}

body {
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
}

.package {
    width: 1200px;
    margin: 0 auto;
}

h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    Color: var(--primary-color);
}

header {
    padding: 20px;
	display: flex;
	/*grid-template-columns: 400px 3fr 2fr;*/
	align-items: center;
	border-bottom: 1px solid #464444;
    justify-content: space-between;
    background-image: linear-gradient(grey, rgb(228, 228, 228))
}

header img {
    max-width: 100%;
    padding-left: 10%;
}

.logo img {
	margin: 0 0.25rem 0 1rem;
	width: 64px;
	height: auto;
}

nav {
    display: flex;     
}

nav a {
	color: navy;
	padding: 10px 20px;
	text-decoration: none;
}

.nav-box {
    padding: 10px;
    margin: 0px;
    background-color: #fff;
    border: 2px solid black;
}

main {
    padding: 20px 0;
}

/*Classe selector (hero)*/
.hero {
    position: relative;
}

  .hero img {
    width: 100%;
    height: auto;
    display: block;
  }

  .hero h1 {
    width : 100%;
    height: 80px;
    color: #AEA799;
    position : absolute;
    top : 40px;
    text-align : center;
    background-color : rgba(36, 36, 29, 0.8);
    padding : 10px 0;
    z-index: 1;
    font-size: 2rem;
	font-family: Acme, Arial, sans-serif;
}

  .hero article {
    width : 70%;
    height : auto;
    position : absolute;
    top : 350px;
    background-color : #2172ce77;
    padding : 2em;
    margin-left : 12%;
    z-index: 1; 
}

  .hero article img {
    width: 230px;
    height: auto;
    float: right;
  }

  .hero p {
    color: var(--secondary-color);
  }
  
article {
    margin-top: 40px;
    text-align: center;
}

article img {
    max-width: 100%;
}

.container {
    margin: 1px 0px 0px 0px;
    border: 2px solid hsla(199, 94%, 31%, 0.795);
    padding:1rem;
    background-color: #d4ecfc;
    color: #000;
}

.container img {
    width: 200px;
    height: auto;
    grid-column: 2;
    align-self: start;
    padding: 20px
}

.container {
    width: auto;
    height: 20rem;
    grid-column: 1/2;
    grid-row: 1/2;
}

.container p {
    color: var(--primary-color);
}

.container-content {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
}


footer {
    background-color: rgb(226, 222, 222);
    color: rgb(77, 77, 80);
    padding: 5px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

footer a {
    text-decoration: none;
}

footer img {
    width: 30px;
    height: auto;
    margin-left: 3px;
    margin-right: 3px;
}

.photos {
    text-align: center;
}
.photos-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}
.photos h2{
    margin-bottom: 20px;
    color: #000000;
}
figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}
img {
    max-width: 100%;
    height: auto;
}
figcaption {
    text-align: center;
    margin-top: 2px;
}

section {
    margin-top: 40px;
}

section h2 {
    color: var(--primary-color);
}

section img {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    max-width: 100%;
}


/* Contact Us part */
/* Employee table */

.staff-section {
    margin-top: 20px;
}

.staff-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    text-align: center;
}

.staff-grid h2 {
    grid-column: 1 / -1;
    background-image: linear-gradient(to right, #a2a7a8, #534d4d);
    color: rgb(255, 255, 255);
    font-size: 32px;
    padding: 10px;
}

.staff img {
    width: 100%;
    height: auto;
}

.staff p {
    margin: 10px 0;
}

/* Contact Form */
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.contact-form {
    margin-top: 40px;
}
.contact-form h2 {
    text-align: center;
}

.radio-form {
    display: inline-block;
    margin-top: 1px;
    width: auto;
} 

form input[type="text"],
form input[type="email"],
form textarea {
    width: 80%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    display: inline-block;
}
form textarea {
    margin-left: 4%;
    resize: none;
}

form input[type="checkbox"],
form input[type="radio"] {
    margin-right: 5px;
}

form button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

label[for="message"] {
    display: block;
    text-align: start;
}

